{% extends "base.html" %}

{% block content %}
    <h1 class="mainheader">Register</h1><br>
    <form class ="box" action="" method="post">
        {{ form.hidden_tag() }}
        <p class="boxStyle">
            {{ form.username(size=32, placeholder="Username", class="boxTransparent") }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="boxStyle">
            {{ form.email(size=32, placeholder="Email", class="boxTransparent") }}<br>
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="boxStyle">
            {{ form.password(size=32, placeholder="Password", class="boxTransparent") }}<br>
            {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p class="boxStyle">
            {{ form.password2(size=32, placeholder="Repeat Password", class="boxTransparent") }}<br>
            {% for error in form.password2.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.submit(class="btn btn-primary") }}</p>
    </form>
{% endblock %}
